@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-orange: #fd7e14;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

h2 {
  font-size: 4.2rem;
  font-weight: 700;
}

p {
  font-size: 3rem;
  font-weight: 200;
}

img {
  width: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.card {
  display: flex;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

/* Bắt đầu Navbar */
#navbar {
  background-color: var(--main-red);
  color: var(--main-white);
}

#navbar ul {
  margin-right: 1rem;
}

#navbar li:hover {
  background-color: var(--main-blue);
}

#navbar a {
  font-size: 2.2rem;
  padding: 2rem;
  display: block;
}
/* Kết thúc Navbar */

/* Bắt đầu Welcome */
.welcome-section {
  height: 100vh;
  background-color: var(--main-gray);
  flex-direction: column;
  text-align: center;
}

#welcome-section p {
  color: var(--main-red);
  font-style: italic;
}
/* Kết thúc Welcome */

/* Bắt đầu Projects */
#projects {
  padding: 10rem 2rem;
  text-align: center;
  background-color: var(--main-blue);
}

.projects-header {
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

.project-title {
  padding: 2rem 0.5rem;
  font-size: 2rem;
  background-color: var(--main-gray);
}

#projects .code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
  font-weight: 500;
}

#projects a:hover .code {
  color: var(--main-orange);
}

.project-img {
  height: calc(100% - 8rem);
}

.btn-show-all {
  background-color: var(--main-gray);
  font-size: 2rem;
  transition: background 0.3s ease-out;
}

.btn-show-all i {
  margin-left: 1rem;
  transform: translateX(-0.15rem);
  transition: transform 0.3s ease-in;
}

.btn-show-all:hover > i {
  transform: translateX(0.15rem);
  transition: transform 0.3s ease-out;
}

.btn-show-all:hover {
  background-color: var(--main-red);
}
/* Kết thúc Projects */

/* Bắt đầu Contact */
.contact-section {
  padding: 0 2rem;
  flex-direction: column;
  text-align: center;
  height: 82vh;
  width: 100%;
  background-color: var(--main-gray);
}

#contact p {
  font-size: 1.8rem;
  font-style: italic;
}

.contact-links {
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  transform: translateY(0);
  transition: transform 0.3s ease-in;
}

.contact-details:hover {
  transform: translateY(1rem);
  transition: transform 0.3s ease-out;
}
/* Kết thúc Contact */

/* Bắt đầu Footer */
.footer {
  font-weight: 300;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

#footer p {
  font-size: 1.8rem;
  margin: 2rem;
}
/* Kết thúc Footer */

/* Responsive Tables */
@media (max-width: 61.25em) {
  html {
    font-size: 200%;
  }
  .project-img {
    height: auto;
    width: 100%;
  }
  #projects .grid {
    grid-template-columns: 1fr;
  }

  .contact-section {
    height: 100vh;
  }
  .contact-header {
    margin-bottom: 1rem;
  }
  #footer .flex {
    flex-direction: column;
    text-align: center;
  }
}
/* Responsive Mobiles */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
